/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Home
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

body{
	border-top: 7px solid #0C84E8;
}

h1 {
font-size: 38px !important;
}

a {
	color: #0C84E8;
	text-decoration: none;
	line-height: inherit;
}

a:hover {
	color: #1C84C8;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
}

.social{
	font-size: 25px;
	color: #333;
}
.social a{
	color: #333;
}

.sicon{
	font-size: 25px;
	color: #333;
}

.sicon a{
	color: #333;
}

.icon{
	font-size: 20px;
	color: #333;
}

.bicon{
	font-size: 15px;
	color: #333;
}

.heading {
	background: none !important;
	border: none !important;
	margin: 0 0 22px 0;
	padding: 20px;
}

.heading .icon {
	font-size: 60px;
	color: #0C84E8 !important;
}
.description{
	background: #fff;
	border: none;
	margin: 0 0 22px 0;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 10px !important;
	padding-left: 10px !important;
}


/* -----------------------------------------
   Home
----------------------------------------- */

.homesection .icon{
	font-size: 20px;
	color: #0C84E8 !important;
}

.homesection h2{
	color: #0C84E8;
	font-size: 24px;
}

.homesection .posts {
margin-top: 0;
list-style-type: none;
margin-bottom: 10px;
}

/* List Styling for related */
#related ul{
margin-top: 0;
list-style-type: none;
margin-bottom: 10px;
}

#related ul span {
font-family: 'Lucida Console', 'Andale Mono', monospace;
color: #aaa;
padding-right: 5px;
font-size: 14px;
}