<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>{{ page.title }} | Anthony Kosednar</title>

  <!-- Included CSS Files (Uncompressed) -->
  <!--
  <link rel="stylesheet" href="/css/foundation.css">
  -->
  
  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="/css/foundation.min.css?v=1.0">
  <link rel="stylesheet" href="/css/app.css?v=1.0.4">

  <script src="/js/modernizr.foundation.js?v=1.0"></script>
</head>
<body>
  
  <!-- Header and Nav -->
  
  <div class="row">
    <div class="twelve columns">
      <div class="panel heading">
        <h1><a href="/">Anthony Kosednar <span class="icon">&#128640;</span></a></h1>
      </div>
    </div>
  </div>
  
  <!-- End Header and Nav -->
  
  
<div class="row">    
    
    <!-- Main Feed -->
    
    <!-- Nav Sidebar -->
    <!-- This is source ordered to be pulled to the left on larger screens -->
	<div class="three columns">
      <div class="panel description">
      	<h5>About</h5>
      	<p>This is my own personal site on the web.</p>
        <h5>Social</h5>
        <span class="social"><a href="https://github.com/akosednar/">&#62208;</a> <a href="https://twitter.com/akosednar">&#62217;</a></span><span class="sicon"> <a href="http://reimmer.se/atom.xml">&#59194;</a></span>
      	<h5>More</h5>
      	<p><a href="http://anthonykosednar.com/resume/"><span class="icon">&#128240;</span> Resume</a></p>
      </div>
    </div>

    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="nine columns">
    {{ content }}
    </div>
    
  </div>
    
    
    <!-- Right Sidebar -->
    <!-- On small devices this column is hidden -->
    <aside class="three columns hide-for-small">
      <!-- <p><img src="http://placehold.it/300x440&text=[ad]" /></p> -->
    </aside>
    
  </div>
    
  
  <!-- Footer -->
  
  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p>&copy; Copyright 2012 <a href="http://anthonykosednar.com/" target="_blank">Anthony Kosednar</a></p>
        </div>
        <div class="six columns">
         	<p class="right">Something bottom right?</p>
        </div>
      </div>
    </div> 
  </footer>
  
  <!-- Included JS Files (Compressed) -->
  <script src="/js/jquery.js?v=1.0"></script>
  <script src="/js/foundation.min.js?v=1.0"></script>
  
  <!-- Initialize JS Plugins -->
  <script src="/js/app.js?v=1.0"></script>
</body>
</html>